{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}

<h1>Create New Page</h1>
<form method="POST" action="{% url 'save' title %}" >
    {% csrf_token %}
    <div class="row">
        <div class="col-12 m-1">
            <input type="text" placeholder="Title" name="title" value="{{ title }}">
        </div>
        <div class="col-12 m-1">
            <textarea name="new_content">{{content}}</textarea>
        </div>
        <div class="col-12 m-1">
            <input type="submit">
        </div>
    </div>
</form>
{% endblock %}